body {
    background-color: #fafafa;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    width: 100%;
}

.star-wars-content {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 30px 15px;
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.03);
    transition: box-shadow .15s ease .05s;
}

.star-wars-content:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.column__flex__4 {
    flex: 31%;
    max-width: 32%;
    padding: 0 10px;
    text-align: justify;
}

.film__title {
    font-size: 22px;
    color: #343434;
    letter-spacing: .3px;
}

.film__episode {
    font-size: 20px;
    color: #343434;
    letter-spacing: .3px;
}

.film__short-description {
    color: #898989;
    letter-spacing: .3px;
}

.show-btn{
    padding: 10px 20px;
    background: #ddd;
    color: #343434;
    text-transform: capitalize;
    border-radius: 2px;
}