@font-face {
    font-family: 'Verdana', sans-serif;
    src: url('../fonts/Verdana.ttf');
}

body {
    background: url(../img/background.png) no-repeat fixed;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

.menu {
    padding-top: 49px;
}

/* LOGO-BRANDS-START */
.logo-brand-img {
    margin-right: 15px;
    display: block;
    background-image: url(../img/logo2in1.png);
    background-position: -10px -10px;
    float: left;
    width: 46px;
    height: 44px;
}

.logo-brand-link {
    display: block;
    float: left;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo:hover {
    color: #f26522;
}

.logo-brand-link:hover {
    color: #f26522;
}

.logo-brand-link:hover .logo-brand-img {
    background-position: -76px -10px;
    color: #f26522;
}

/* Logotype brands End*/
/* Contacts */
.contact {
    line-height: 1.5;
    padding: 0;
    float: right;
}

.text-logo-1 {
    float: right;
    width: 200px;
    font-size: 29px;
}

.text-logo-2 {
    clear: both;
    margin-top: -17.5px;
    font-size: 18px;
}

.menu-right {
    background: yellow;
    box-sizing: border-box;
    width: 250px;
    float: right;
}

.menu-right-link {
    float: right;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.menu-right-link:hover {
    color: #f26522;
}

.menu-right-link2 {
    line-height: 1.5;
    clear: both;
}

/* Contacts End */
.content {
    display: block;
}

.tour {
    display: block;
    position: relative;
    float: left;
    margin-right: 65px;
    margin-top: 48px;
    text-decoration: none;
}

.tour-title {
    width: 100%;
    display: block;
    margin-top: 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.tour:hover .tour-title {
    cursor: pointer;
    color: #f26522;

}

.tour-title:hover {
    cursor: pointer;
    color: #f26522;

}

.tour-view {
    width: 100%;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
    transition: 2s;

}

.tour:nth-child(3n) {
    margin-right: 0;
}

.tour-type-img {
    border-top: 2px solid transparent;
    border-left: 2px inset transparent;
    border-right: 2px outset transparent;
    box-shadow: 0 19px 26px 0 #000000;

    -moz-border-image: -moz-linear-gradient(top, #dddddd 0%, #050e00 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #dddddd 0%, #050e00 100%);
    /*border-image: linear-gradient(to bottom, #dddddd 0%, #050e00 100%);*/
    border-image-slice: 1;
}

/* HOVER HIDDEN CONTENT */

.hover-view {
    position: absolute;
    box-sizing: border-box;
    left: 1px;
    bottom: 41px;
    width: 310px;
    height: 0;
    background-color: #f26522;
    opacity: 1;
    transition: 0.5s ease-out;

}

.tour:hover .hover-view {
    cursor: pointer;
    height: 63px;
}

.hover-view-left {

    float: left;
}


.hover-view-left p {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 16px;

}

.hover-view-left p:nth-child(2n) {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 0;
}

.hover-view-right {
    margin-bottom: 17px;
    float: right;
}

.hover-view-right p {
    margin-right: 15px;
    margin-top: 28px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.hover-view-right p::after {
    content: "\203A";
    margin-left: 15px;
    font-size: 18px;
}

/* HOVER HIDDEN CONTENT END */
footer {

    text-align: center;

}

.copy {
    margin-top: 61px;
    padding-bottom: 20px;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}

/* Footer End*/
